
#product-listing {
    padding: 20px;
    margin-top: 8%;
    overflow-y: auto;
    height: 100vh;
  }
  @media (max-width:720){
    #product-listing{
      margin-top: 15%;
    }
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding-bottom: 10%;
  } 
  
  